---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
#avatar-custom > a {
  display: block;
  width: 6rem;
  //height: 6rem;
  //border-radius: 50%;
  //border: 2px solid rgba(222, 222, 222, 0.7);
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); /* fixed the zoom in Safari */
  transition: border-color 0.35s ease-in-out;

  &:hover {
    border-color: white;
  }
}
